__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
.env
venv/
.vscode/
.idea/
.DS_Store
server/uploaded
server/decoded

**/.terraform/*
**/.terraform/*/*

*.tfstate
*.tfstate.*
crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json

.terraformrc
terraform.rc

*.plan
raw-videos
transcoded-videos